@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

* {
    box-sizing: border-box;
    margin: 0;
    background-color:ghostwhite;
    color: black;
}

html {
    font-size: calc(15px + 0.390625vw);
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.container img{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    padding: 2%;
    margin-top: 5px;
}

#navigation {
    text-align: center;
    padding: 10px;
    background-color: rgb(237, 237, 253);
}

#navigation a {
    background-color: rgb(237, 237, 253);
}

.fade-in-nav{
    background-color: rgb(237, 237, 253);
}

header {
    margin-bottom: 30px;
}

dd {
    font-size: 85%;
}

dt {
    margin-top: 10px;
}

dl {
    margin-right: 5%;
}

.taidotLeftRight {
    display:flex;
    flex-direction: row;
    justify-content: space-around; 
}

.col{
    margin-top: 30px;
}

footer {
    text-align: center;
    font-size: 80%;
    padding: 10px;
    background-color: rgb(237, 237, 253);
}

@media only screen and (min-width: 481px) {
    .container {
        max-width: 90%;
        margin:auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    header {
        text-align: center;
    }

    img {
        width: 70%;
    }

    .taidotLeftRight dl {
        margin-right: 15px;
    }
  
}

#navigationENG, #headerENG, #profiiliENG, #koulutusENG, #tyokokemusENG, #taidotENG, #projektitENG, #otayhteyttaENG {
    display: none;
}

@media only screen and (min-width: 801px) {
    .container {
        max-width: 70%;
        border-left: 3px solid rgb(237, 237, 253);
        border-right: 3px solid rgb(237, 237, 253);
    }

    img {
        width: 50%;
    }

    .taidotLeftRight {
        width: 80%;
    }

    .taidotLeftRight dl {
        margin-right: 15px;
    }

}

@media only screen and (min-width: 1280px) {

    .container {
        max-width: 50%;
    }

}